# dev environment
.vscode
.scratch
docker/control-plane-dev/data
clustertest/data
.vagrant
vagrant-ssh.cfg
.terraform
*.tar.gz
hack/apis
bruno/test-scenarios/**/repos
bruno/test-scenarios/environments
!bruno/test-scenarios/environments/compose.bru
**/.claude/settings.local.json

# build artifacts
*-results.xml
dist
control-plane
!docker/control-plane
e2e/debug
