# dev environment
.vscode
.scratch
docker/control-plane-dev/data
.vagrant
vagrant-ssh.cfg
.terraform
*.tar.gz
hack/apis

# build artifacts
*-results.xml
dist
control-plane
!docker/control-plane
e2e/debug
