---
- name: Control Plane prerequisites
  hosts: all
  become: true
  tasks:
    - name: Add Docker repository
      ansible.builtin.yum_repository:
        name: docker-ce-stable
        description: Docker CE Stable - $basearch
        baseurl: https://download.docker.com/linux/rhel/$releasever/$basearch/stable
        enabled: true
        gpgcheck: true
        gpgkey: https://download.docker.com/linux/rhel/gpg
    - name: Install packages
      ansible.builtin.package:
        name: '{{ item }}'
        state: present
      with_items:
        - docker-ce
        - docker-ce-cli
        - containerd.io
        - docker-compose-plugin
        - python3-pip
    - name: Write the Docker daemon configuration file
      ansible.builtin.copy:
        dest: /etc/docker/daemon.json
        content: |
          {
            "insecure-registries" : [
              "10.1.0.1:5000"
            ]
          }
    - name: Start and enable Docker
      ansible.builtin.systemd_service:
        name: docker
        state: started
        enabled: yes
    - name: Ensure group "pgedge-db" exists
      ansible.builtin.group:
        name: pgedge-db
        state: present
        gid: 1020
    - name: Ensure user "pgedge-db" exists
      ansible.builtin.user:
        name: pgedge-db
        state: present
        uid: 1020
        group: pgedge-db
    - name: Append the "docker" and "pgedge-db" groups to the vagrant user
      ansible.builtin.user:
        name: vagrant
        groups: docker,pgedge-db
        append: yes
    - name: Create the pgedge directory if it does not exist
      ansible.builtin.file:
        path: /opt/pgedge
        state: directory
        mode: '0700'
        owner: vagrant
    - name: Install docker python module
      ansible.builtin.pip:
        name: docker
        state: present

- name: Initialize swarm
  hosts: control-plane-1
  become: true
  tasks:
    - name: Init a new swarm
      community.docker.docker_swarm:
        state: present
        advertise_addr: "{{ hostvars[inventory_hostname]['ip_address'] }}"
    - name: Retrieve Docker Swarm manager token # Gets token for joining as a manager
      ansible.builtin.shell: docker swarm join-token manager -q
      register: manager_token
      changed_when: false

- name: Join other hosts to swarm as managers
  hosts: control-plane-2:control-plane-3
  become: true
  tasks:
    - name: Add nodes
      community.docker.docker_swarm:
        state: join
        advertise_addr: "{{ hostvars[inventory_hostname]['ip_address'] }}"
        join_token: "{{ hostvars['control-plane-1']['manager_token'].stdout }}"
        remote_addrs: [ "{{ hostvars['control-plane-1']['ip_address'] }}:2377" ]
