---
services:
{% for host in groups['control_plane'] %}
{% set host_facts = hostvars[host].ansible_facts %}
  {{ host }}:
    image: {{ control_plane_image }}
    command: run
    environment:
      - PGEDGE_IPV4_ADDRESS={{ host_facts[peer_interface].ipv4.address }}
      - PGEDGE_CLUSTER_ID=e2e
      - PGEDGE_HOST_ID={{ host }}
      - PGEDGE_DATA_DIR=/data/control-plane
    volumes:
      - /data/control-plane:/data/control-plane
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - host
    deploy:
      placement:
        constraints:
          - node.hostname == {{ host_facts.hostname }}
{% endfor %}
networks:
  host:
    name: host
    external: true
