version: 2.1
orbs:
  go: circleci/go@3.0.2
commands:
  use_mod_cache:
    steps:
      - run:
          name: Compute go.sum checksums
          command: |
            md5sum ./go.sum > /tmp/mod-checksums.txt
            md5sum tools.mk >> /tmp/mod-checksums.txt
      - restore_cache:
          keys:
            - v2-go-mod-{{ arch }}-{{ checksum "/tmp/mod-checksums.txt" }}
            # Fallback to the most recently-generated cache if an exact match
            # does not exist.
            - v2-go-mod-
            - v1-go-mod-
      - run:
          name: go mod download
          command: go mod download
      - run:
          name: Install tools
          command: make install-tools
          environment:
            GOTOOLCHAIN: go1.24.3
      - save_cache:
          key: v2-go-mod-{{ arch }}-{{ checksum "/tmp/mod-checksums.txt" }}
          paths:
            - /home/circleci/go/pkg/mod
            - /home/circleci/go/bin
            - /home/circleci/.cache/go-build
jobs:
  test:
    docker:
      - image: cimg/go:1.24.3
    steps:
      - checkout
      - setup_remote_docker
      - use_mod_cache
      - run:
          name: Run CI checks
          command: make ci
      - store_test_results:
          path: .
  test-e2e:
    machine:
      image: ubuntu-2404:2024.11.1
      docker_layer_caching: true
    resource_class: arm.large
    steps:
      - checkout
      - use_mod_cache
      - run:
          name: Run e2e tests with Docker Compose
          command: |
            make ci-compose-detached
            make test-e2e-ci
      - run:
          name: Ensure Docker Compose is stopped
          command: make ci-compose-down
          when: always
      - store_test_results:
          path: .
  release:
    docker:
      - image: cimg/go:1.24.3
    steps:
      - checkout
      - setup_remote_docker
      - use_mod_cache
      - run:
          name: Build and publish release artifacts
          command: |
            # reset repo contents to prevent dirty build
            git checkout -- .

            # ensure required env vars are set
            if [[ -z "${GITHUB_TOKEN}" ]]; then
              echo "GITHUB_TOKEN must be set"
            fi
            if [[ -z "${IMAGE_PUBLISH_TOKEN}" ]]; then
              echo "IMAGE_PUBLISH_TOKEN must be set"
            fi
            if [[ -z "${IMAGE_PUBLISH_USER}" ]]; then
              echo "IMAGE_PUBLISH_USER must be set"
            fi

            # Trim any pre-release identifiers from the end of the tag so that
            # we can find the corresponding release notes.
            release_version=${CIRCLE_TAG%-*}
            release_notes=changes/${release_version}.md

            # ensure the release notes exist
            ls ${release_notes}

            # initialize the ci buildx builder
            make buildx-init

            # create the github release
            goreleaser release \
              --release-notes=${release_notes}

            # log into control plane ECR repo
            echo "${IMAGE_PUBLISH_TOKEN}" \
              | docker login ghcr.io --username "${IMAGE_PUBLISH_USER}" --password-stdin

            # build and publish control plane image
            CONTROL_PLANE_IMAGE_REPO='ghcr.io/pgedge/control-plane' \
            CONTROL_PLANE_VERSION="${CIRCLE_TAG}" \
            make control-plane-images

workflows:
  test:
    jobs:
      - test
      - test-e2e:
          requires:
            - test
  release:
    jobs:
      - release:
          context: control-plane-release
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v[0-9]+(\.[0-9]+)*(-.*)*/
