version: 2.1
orbs:
  go: circleci/go@1.12.0
commands:
  use_mod_cache:
    steps:
      - run:
          name: Compute go.sum checksums
          command: |
            md5sum ./*/go.sum > /tmp/mod-checksums.txt
            md5sum tools.mk >> /tmp/mod-checksums.txt
      - restore_cache:
          keys:
            - v1-go-mod-{{ arch }}-{{ checksum "/tmp/mod-checksums.txt" }}
      - run:
          name: go mod download
          command: |
            for module in $(dirname ./*/go.mod); do
              (cd ${module} && go mod download)
            done
      - run:
          name: Install tools
          command: make install-tools
      - save_cache:
          key: v1-go-mod-{{ arch }}-{{ checksum "/tmp/mod-checksums.txt" }}
          paths:
            - /home/circleci/go/pkg/mod
            - /home/circleci/go/bin
jobs:
  test:
    executor:
      name: go/default
      tag: '1.23'
    steps:
      - checkout
      - use_mod_cache
      - run:
          name: Run CI checks
          command: make ci
      - store_test_results:
          path: .
workflows:
  test:
    jobs:
      - test
