services:
  host-1:
    build:
      context: .
    develop:
      watch:
        - path: ./Dockerfile
          action: rebuild
        - path: ./control-plane
          action: sync+restart
          target: /control-plane
    working_dir: ${WORKSPACE_DIR}
    environment:
      - DEBUG=${DEBUG}
      - PGEDGE_HOST_ID=8f6e5455-e228-4e2e-9129-a86cba1437c8
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-1
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
    volumes:
      - ./config.json:/config.json
      - ./data:${WORKSPACE_DIR}/docker/control-plane-dev/data
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
  host-2:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=36dcd7ff-9f04-476e-ac6f-5495d075607d
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-2
      - PGEDGE_HTTP__PORT=3001
      - PGEDGE_EMBEDDED_ETCD__PEER_PORT=2480
      - PGEDGE_EMBEDDED_ETCD__CLIENT_PORT=2479
  host-3:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=fa461a39-5867-4a72-9923-dd7ce91e1eab
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-3
      - PGEDGE_HTTP__PORT=3002
      - PGEDGE_EMBEDDED_ETCD__PEER_PORT=2580
      - PGEDGE_EMBEDDED_ETCD__CLIENT_PORT=2579
