services:
  host-1:
    build:
      context: .
    develop:
      watch:
        - path: ./Dockerfile
          action: rebuild
        - path: ./control-plane
          action: sync+restart
          target: /control-plane
    working_dir: ${WORKSPACE_DIR}
    environment:
      - DEBUG=${DEBUG:-0}
      - PGEDGE_HOST_ID=host-1
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-1
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3000/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
    volumes:
      - ./config.json:/config.json
      - ./data:${WORKSPACE_DIR}/docker/control-plane-dev/data
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
  host-2:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=host-2
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-2
      - PGEDGE_HTTP__PORT=3001
      - PGEDGE_ETCD_SERVER__PEER_PORT=2480
      - PGEDGE_ETCD_SERVER__CLIENT_PORT=2479
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3001/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-3:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=host-3
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-3
      - PGEDGE_HTTP__PORT=3002
      - PGEDGE_ETCD_SERVER__PEER_PORT=2580
      - PGEDGE_ETCD_SERVER__CLIENT_PORT=2579
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3002/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-4:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=host-4
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-4
      - PGEDGE_HTTP__PORT=3003
      - PGEDGE_ETCD_MODE=client
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3003/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-5:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=host-5
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-5
      - PGEDGE_HTTP__PORT=3004
      - PGEDGE_ETCD_MODE=client
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3004/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-6:
    extends:
      service: host-1
    environment:
      - DEBUG=0
      - PGEDGE_HOST_ID=host-6
      - PGEDGE_DATA_DIR=${WORKSPACE_DIR}/docker/control-plane-dev/data/host-6
      - PGEDGE_HTTP__PORT=3005
      - PGEDGE_ETCD_MODE=client
      - PGEDGE_LOGGING__LEVEL=${LOG_LEVEL:-info}
      - PGEDGE_DOCKER_SWARM__IMAGE_REPOSITORY_HOST=${DEV_IMAGE_REPO:-ghcr.io/pgedge}
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3005/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  api-docs:
    image: redocly/redoc
    ports:
      - 8999:80
    volumes:
      - ../../api/apiv1/gen/http:/usr/share/nginx/html/specs
    environment:
      - SPEC_URL=specs/openapi3.yaml
