services:
  host-1:
    build:
      context: .
    command: run
    environment:
      - PGEDGE_HOST_ID=host-1
      - PGEDGE_DATA_DIR=/tmp/host-1
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3000/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
    volumes:
      - /tmp:/tmp
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: host
  host-2:
    extends:
      service: host-1
    environment:
      - PGEDGE_HOST_ID=host-2
      - PGEDGE_DATA_DIR=/tmp/host-2
      - PGEDGE_HTTP__PORT=3001
      - PGEDGE_EMBEDDED_ETCD__PEER_PORT=2480
      - PGEDGE_EMBEDDED_ETCD__CLIENT_PORT=2479
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3001/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-3:
    extends:
      service: host-1
    environment:
      - PGEDGE_HOST_ID=host-3
      - PGEDGE_DATA_DIR=/tmp/host-3
      - PGEDGE_HTTP__PORT=3002
      - PGEDGE_EMBEDDED_ETCD__PEER_PORT=2580
      - PGEDGE_EMBEDDED_ETCD__CLIENT_PORT=2579
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3002/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
  host-4:
    extends:
      service: host-1
    environment:
      - PGEDGE_HOST_ID=host-4
      - PGEDGE_DATA_DIR=/tmp/host-4
      - PGEDGE_HTTP__PORT=3003
      - PGEDGE_STORAGE_TYPE=remote_etcd
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:3003/v1/version"]
      interval: 2s
      timeout: 1s
      retries: 30
