[default]
aws_access_key_id = {{ s3_repository.access_key_id }}
aws_secret_access_key = {{ s3_repository.secret_access_key }}
region = us-east-1
ca_bundle = /data/minio-certs/public.crt
endpoint_url = https://{{ ansible_facts[peer_interface].ipv4.address }}:9000
